*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  box-sizing: border-box;

  margin: 0;

  font-size: 14px;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100%;
  background: white;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.todo-lists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
         -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
          justify-content: flex-end;
  overflow-x: hidden;
}

.todo-list-section {
  -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
  min-width: 400px;
}

.new-task input {
  box-sizing: border-box;
  position: relative;
  padding: 15px;
  background: transparent;
  border: #eee solid 1px;
  border-top: none;
  width: 100%;
  padding-right: 32px;
  font-size: 1em;
  color: #000000;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

li {
  position: relative;
  font-size: 14px;
  list-style: none;
  padding: 14px;
  border: #eee solid 1px;
}

li .toggle-complete {
  margin-left: 12px;
}

li .toggle-public {
  margin-left: 5px;
}

li .show-children {
  float: right;
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
  margin-right: 6px;
  margin-left: 6px;
}

li .delete {
  float: right;
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
  position: relative;
}

li .text {
  margin-left: 10px;
}

li.complete {
  color: #888;
}

li.complete .text {
  text-decoration: line-through;
}

li.public {
  padding: 0px;
  border: #ddd solid 15px;
}

li.expanded {
  background: #eee;
}

header .hide-completed {
  float: right;
}
